<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>User Register Form</title>
</head>
<body>
<div align="left">
    <h1>Please fill the info to register</h1>
    <form action="user/save" method="post">

        Username: <input type="text" name="username" /><br />
        password: <input type="password" name="password" /><br />
        email: <input type="email" name="email" /><br />
        <input type="submit" value="register" />

        <a href="index.jsp">login</a>
    </form>
</div>
</body>
</html>